<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="petstoreSuite">

  <listeners>
         <listener class-name="apiutilities.ExtentReportManager"/>
  </listeners>
  
  <test thread-count="5" name="usermoduleTest">
    <classes>
      <!--class name="apitests.UserModuleTestcases"/>-->
      <class name="apitests.UserModuleTestcase2"/>
      <!--  class name="apitests.DataDrivenTests"/>-->
    </classes>
  </test> <!-- usermoduleTest -->
</suite> <!-- petstoreSuite -->
